@import url('https://fonts.googleapis.com/css?family=Caveat|Lacquer|Roboto&display=swap');
 
body {
    background-image: url(./Images/coffee2.jpeg);
}

@media only screen and (max-device-width: 425px) {
body {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}    
}