@import url('https://fonts.googleapis.com/css?family=Caveat|Lacquer|Roboto&display=swap');
 
body {
    /* background-image: url(./Images/coffee2.jpeg); */
    background-image: url(https://lh3.googleusercontent.com/proxy/WOqVkkLOmrjfqAJ4CQZmQiGQIBDbkg4SYzesc9fae1Wdf7wOBwkIH_t1UwW8Q9p_LtjE5-5dvw5byoJGVuxkbM2Hhlzh4IVOfkWm8BtJarSSexKZMPOpx3s9U4Cz9xcfPISHj5e6UPTkA60DV1zTUWr9WM8fWs97N5T1gpe2cr9-pTopccuUKWxqMkmjOgKn3vACPArZCzrwYZ9KrgQSNZFocTtL698dLrr90NXe);
    background-position: center;
    background-size: cover;
}

.intro {
    text-align: center;
    margin-top: 100px;
}
.typed-heading {
    font-size: 110px;
}
.typed-sub {
    font-size: 50px;
}


@media only screen and (max-device-width: 425px) {
body {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}   
.icons {
    size: 3rem;
}
.intro {
    margin-top: 30px;
    margin-left: 30px;
} 
.typed-heading {
    font-size: 50px;
}
.typed-sub {
    font-size: 20px;
    color: black;
}
}