body {
    background-color: rgb(253, 253, 253)
}


/* .fade {
    transition-delay:3000;
} */
/* .me {
    height: 500px;
    width: 500px; 
    display: flex;
    justify-content: left;
    border-radius: 50%;
    transition-delay: 3000ms;
    margin: 0px 0px 0px 10px;
} */

 