.nav-links {
    list-style: none;
    color: black;
    display: flex;
    text-decoration: none;
    flex-direction: row;
    justify-content: space-around;
    /* background-color: rgba(183, 39, 80, .2); */
    font-size: 30px;
    font-family: 'Caveat', cursive;
}
a{
    text-decoration: none;
  }
 
  @media only screen and (max-device-width: 667px) {
  .nav-links {
     font-size: 15px;
     width: 250px;
     justify-content: space-between;
  }    
  }