.nav-links {
    list-style: none;
    color: black;
    display: flex;
    text-decoration: none;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* background-color: rgba(183, 39, 80, .2); */
    font-size: 30px;
    font-family: 'Caveat', cursive;
}
a{
    text-decoration: none;
  }
 
  @media only screen and (max-device-width: 425px) {
  .nav-links {
     margin-left: 50px;
     font-size: 15px;
     width: 250px;
  }    
  }